body {
  background: #81adee; /* #80AEF4  #A9C8F7  */
  margin: 0pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

td {
  font-size: 12px;
}

li {
  margin-bottom: 5px;
}

/*  Standard-links */

a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  cursor: pointer;

  border-bottom: none;
  text-decoration: none;
}

/* Links */
a:link,
a:visited {
  color: #086ac6;
}

a:active,
a:hover {
  color: #3891e4;
}

/* Links f�r Navigation */
a.mainnavilink:link,
a.mainnavilink:visited {
  color: #fbfbfb;
  text-decoration: none;
}

a.mainnavilink:active,
a.mainnavilink:hover {
  color: #000000;
  text-decoration: none;
}

/* gepunktete Links, besser sichtbar! */
a.dottedlink:link,
a.dottedlink:visited {
  border-bottom: 1px dotted #c0c0c0;
}

a.dottedlink:active,
a.dottedlink:hover {
  border-bottom: 1px dotted #000000;
}

/* Navigationsmen�s */
.menueboxhg {
  border: 1px outset #004d00;
  background-color: #4aae4b; /* #31A631 #F2B55E #F09552 #F19D5F #F19D5F    */
}

.menueboxtitel {
  background-color: #358e35; /* #F1D05F #8DC5FF  #A8D3FF */
}

/* Pfeilliste in Men�s */
.menuliste {
  padding-top: 10pt;
  padding-bottom: 5pt;
  list-style-image: url(bilder/arrow.gif);
}

ul.menuliste li {
  margin-bottom: 10px;
}

/* Kopfzeile auf allen Seiten */
.headline_img {
  text-align: left;
  border: 1px solid #249824;
}

.headline_txt_bg {
  background: #b1b178;
  border: 1px #969067 inset;
  padding: 2px;
}

.headline_img_txt {
  width: 500px;
  border: 1px solid #e3e3e3;
  background: #e9eff4;
  font-size: 16px;
  margin-top: 20px;
}

/* �berschriften auf den Seiten */
.headline {
  text-align: left;
  margin: auto;
  width: 520px;
  border: 1px solid #e3e3e3;
  background: #e9eff4;
  font-size: 16px;
}
.headline2 {
  font-size: 14px;
}

.headline_group {
  border-bottom: 2px #d3d3d3 dotted;
  padding: 2px;
  margin: 2px;
  width: 380px;
  font-size: 14px;
  font-weight: bold;
}

/* Boxes auf Unterseiten*/
.menueboxheader {
  background-color: #e8e8e8; /* #F1D05F #F1D05F  #F3D673; */
}

.menueboxfooter {
  background-color: #e8e8e8;
}

.general2 {
  border: 1px solid #e3e3e3;
  background-color: #f4f4f4;
  padding: 2px;
  font-size: 13px;
  line-height: 16px;
}

/* Formulare */

.button {
  border: 1px #808080 solid;
  font-size: 8pt;
  background-color: #f4f4f4;
}

.formular {
  background-color: #f5f5f5;
  border: 1px #808080 solid;
  font-size: 10pt;
}

/* Eingabefelder, z.b. f�r Kontaktformular */
.feld {
  background-color: #f5f5f5;
  border-width: 1px;

  border-style: solid;

  border-top-color: #fbfbfb;
  border-right-color: #fbfbfb;
  border-left-color: #fbfbfb;

  border-bottom-color: #808080;
}

/* Extra Fenster-layers */
.obeschreibung {
  color: #000000;
  font-size: 8pt;
  font-family: Verdana;
  background-color: #bcdfbc;
}

/* Extra Fenster-layers */
table.orahmen {
  border-style: solid;
  border-width: 1pt;
  border-color: #000000;
}

ul.bigul li {
  margin-bottom: 10px;
}

table.keinstrich tr td a {
  border-bottom: none;
}
